# Ignore the TSLA file or folder so it's never pushed
TSLA
TSLA/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Node
node_modules/

# Logs
*.log

# Virtual environment
.venv/

/TSLA/

/EI_liquidity_riad_working/
